h1 {
    text-align: center;
}

#rectangle {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 50px;
  border: rgb(243, 186, 30);
  border-width: thin;
  background-color: rgb(27, 26, 22);
}

#header {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 10px;
}

body {
  cursor: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
    padding: 5px;
    font-family: Helvetica;
    color: white;
    background-color: #000000;
  }
body::selection { background: transparent; }
body::-moz-selection { background: transparent; }
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  .group-rect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
  }

  .rect {
    background-color: rgb(243, 186, 30);
    border-radius: 3px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
    list-style-type: none;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .rect-footer {
    background-color: rgb(243, 186, 30);
    border-radius: 3px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
    list-style-type: none;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  li {
    background-color: rgb(243, 186, 30);
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    list-style-type: none;
    color: black;
    text-align: center;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(87, 87, 87);
    color: white;
  }
  
  .main {
    color:"black";
  }

  .button {
    background-color: rgb(243, 186, 30);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: none;
  }
.button:active {
  background-color: rgb(243, 186, 30);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
  
  .info {
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    color: #fff;
  }


.column {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}